html, body {
	width:100%;
	height:100%;
	margin: 0px;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

body {
	font-family: 'Oswald', sans-serif;
	color:white;
	background-color:#6a6665;
	z-index: 99;
}

/* LOGO */
#logo-container{
	position:absolute;
	left:5vw;
	top:5vh;
	z-index: 6;
	margin:0;
}

#logo-container img{
	width:30vw;
	-webkit-animation: flipInX 1s ease 1;
	-webkit-animation-fill-mode: forwards;
	 /* Hey browser, use your GPU */
   	-webkit-transform: translate3d(0, 0, 0);
}

/*TEXT ELEMENTS*/
.date, .event{
	font-size: 5.8vw;
	line-height: 7vw;
	font-weight: 700;
	letter-spacing: .3vw;
	text-transform: uppercase;
}

.desc {
	position: relative;
	font-size: 4vw;
	line-height: 4.2vw;
	top:2vh;
	font-weight:300;
	letter-spacing: .5vw;
}

.event {
	color:#70bcc6;
}

/*Bounce Animation Control*/
.slides:nth-of-type(1n) {
	position: absolute;
	top: 20vh;
    left: 5vw;
    width: 60vw;
	height: 30vw;
	z-index: 5;
	opacity: 0;
	-webkit-animation: bounceInRightText 20s 1.5s ease infinite;
	-webkit-animation-fill-mode: forwards;

	 /* Hey browser, use your GPU */
   	-webkit-transform: translate3d(0, 0, 0);
}

.slides:nth-of-type(2n) {
	position: absolute;
	top: 20vh;
    left: 5vw;
    width: 60vw;
	height: 30vw;
	z-index: 5;
	opacity: 0;
	-webkit-animation: bounceInRightText 20s 11.5s ease infinite;
	-webkit-animation-fill-mode: forwards;
	
	 /* Hey browser, use your GPU */
   	-webkit-transform: translate3d(0, 0, 0);
}

@media only screen and (max-width: 1280px) {
	    .slides {
			margin-top: 5vh;
	    }
	}

/* DOCTOR IMAGES */
#doctor-container1{
	position:absolute;
	left:0vw;
	top:0vh;
	z-index: 6;
}

#doctor-container1 img{
	position:absolute;
	height:100vh;
	top:5vh;
	left:63vw;
	opacity: 0;
	-webkit-animation: bounceInRightImage 20s .8s ease infinite;
	-webkit-animation-fill-mode: forwards;
	 /* Hey browser, use your GPU */
   	-webkit-transform: translate3d(0, 0, 0);
}

#doctor-container2{
	position:absolute;
	left:0vw;
	top:0vh;
	z-index: 6;
}

#doctor-container2 img{
	position:absolute;
	height:100vh;
	top:5vh;
	left:63vw;
	opacity: 0;
	-webkit-animation: bounceInRightImage 20s 10.8s ease infinite;
	-webkit-animation-fill-mode: forwards;
	 /* Hey browser, use your GPU */
   	-webkit-transform: translate3d(0, 0, 0);
}

/*BACKGROUND ELEMENTS*/
.container {
	position: absolute;
	width: 100%;
	height: 100%;
}
.viewport {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.blur-box {
	width: 68%;
	position: absolute;
	left: 0%;
	top: 0%;
	height: 100%;
	overflow: hidden;
	background: #515a55;
	z-index: 2;
}
.content-blurred {
	padding: 0;
	position: absolute;
	z-index: 1;
	filter: url(#blur-effect);
  -webkit-filter: blur(25px);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

#divider-container {
	position: absolute;
    margin-left: auto;
    margin-right: auto;
	bottom: 0px;
    width: 68vw;
	height: 100vh;
	z-index: 4;
	background-color: rgba(30,30,30,0.5);
}

/* Background Image*/
.content img {
	-webkit-animation-duration: 40s;
    -webkit-animation-name: pulse;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	 /* Hey browser, use your GPU */
   	-webkit-transform: translate3d(0, 0, 0);
	height:100vh;
	width:100vw;
}
	
/* Footer Icons */
#github {
	position:absolute;
	 width:50vw;
	 height:4vh;
	 left:10vw;
	 top:91vh;
	 z-index:4;
}

#gitbtn {
	color:white;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;	
	text-decoration: none;
	font-size:3.6vh;
	opacity:.5;
}

#rise {
	opacity:.5;
	width:5vw;
	height:4vh;
	left:6vw;
	top:91vh;
	z-index:5;
	margin-left:-1vw;
	position:absolute;
	z-index:5;
}

#risebtn {
    width:auto; 
    height:100%;   
}